[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "3"
click = "8"
matplotlib = "3"
numpy = "2"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
